<div class="text-center">

  <td>フォロー数: <%= user.followings.count %></td> ・
  <td>フォロワー数: <%= user.followers.count %></td>

  <div class="mt-2">
    <% if user_signed_in? %>
      <% if current_user != user %>
        <% if current_user.following?(user) %>
          <%= link_to user_relationships_path(user.id), method: :delete, class: "btn btn-outline-secondary" do %><i class="fas fa-user-alt"></i> フォロー中<% end %><br/>
        <% else %>
          <%= link_to user_relationships_path(user.id), method: :post, class: "btn btn-outline-secondary" do %><i class="fas fa-user-alt"></i> フォローする<% end %><br/>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>