<div class="text-center mt-4">
  <h1 class="pb-3">What is『Let's Diveee!!!』？</h1>
  <h3>海が好きな人が集まるダイビングサイト！</h2>
  <p class="pt-3">
    海の魅力を発信できる！<br>
    たくさんの海を知ることができる！<br>
    ダイバー同士で情報の交換ができる！
  </p>
</div>

<div class="text-center pt-3">
  <%= image_tag "fish.jpg", class: "about-image" %>
</div>
