<%= form_with url: search_path, method: :get, local: true do |f| %>

<div class="row">
  <div class="col-7">
    <%= f.text_field :word, required: true, placeholder:"ダイバーを検索！", class: "form-control" %>
  </div>
  <%= button_tag type: "submit", class: "btn btn-outline-light" do %>
    <i class="fas fa-search text-nowrap">検索！</i>
  <% end %>
</div>

<% end %>