<h2 class="text-center mt-5">
  <%= @word %> の検索結果
</h2>

<div class="text-center mt-5">
  <% @user.each do |user| %>
   <%= attachment_image_tag user, :profile_image, size: "50x50", class: "rounded-circle img-thumbnail" %>
   <span style="font-size:18px;">
     <%= link_to user.name, user_path(user) %>
   </span>
  <% end %>
</div>