// Place all the styles related to the Dives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.detail {
  font-weight: bold;
  text-decoration: underline;
}

.answer {
  font-weight: bold;
}

.out {
  font-weight: bold;
}

.image-wrapper {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #dives .order-2 {
    order: 1;
  }
  #dives .order-1 {
    order: 2;
  }
}
