// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-image{
  width: 100%;
}

.box{
  margin: 0 auto;
}

#box{
  width: 53%;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
}

.image1 {
  background-image: image-url("fish.jpg");
}

.image2 {
  background-image: image-url("turtle.jpg");
}

.image3 {
  width: 30%;
  background-image: image-url("underwater.jpg");
}

.slide1{
  width: 40%;
}

.slide2{
  width: 40%;
}

div.animation_box {
  padding: 50px;
  animation: fadeIn 5s ease 1s 1 normal backwards;
  opacity: 0;
  transform: translateX(-20px);
  transition: 5s ease;
}
