// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-image {
  width: 100%;
}

.box {
  margin: 0 auto;
}

#box {
  width: 53%;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
}

.image1 {
  background-image: image-url("fish.jpg");
}

.image2 {
  background-image: image-url("turtle.jpg");
}

.image3 {
  background-image: image-url("underwater.jpg");
}

.slide-image {
  width: 45%;
}

.slide-image + .slide-image {
  margin-left: 10px;
}

div.animation_box {
  padding: 15px;
  animation: fadeIn 5s ease 1s 1 normal backwards;
  opacity: 0;
  transform: translateX(-20px);
  transition: 5s ease;
}

.head {
  font-weight: bold;
}

.can {
  font-weight: bold;
}

.msg {
  font-size: 15px;
}

@media screen and (max-width: 992px) {
  .gmap_wrapper{
    width: 100% !important;
  }

  #map-canvas {
    width: 100% !important;
  }

  #box{
    width: 80%;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  #box{
    width: 80%;
    height: 350px;
  }
}

@media screen and (max-width: 544px) {
  #box {
    width: 100%;
    height: 230px;
  }

  .slide-image {
    width: 47%;
  }

  .gmap_wrapper{
    width: 100% !important;
  }

  #map-canvas {
    width: 100% !important;
  }
}