// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-image{
  width: 100%;
}

.about-image{
  width:47%;
}

.box{
  margin: 0 auto;
}