// Place all the styles related to the ranks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all_rank{
  font-weight: 10px;
}

.rank{
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}

.line{
  text-decoration: overline;
}